.container-fluid {
  margin-right: 0;
  margin-left: 0;
}

.img-col {
  background-color: #1d3557;
}

.btn-col {
  background-color: #457b9d;
}

.info-col {
  background-color: #a8dadc;
  padding: 10% 5%;
}

.btn-outline-info {
  margin: 30%;
  background-color: #FFFFFF;
}

.doorbellImg {
  margin: 10% 22%;
}



.taxiImg-col {
  background-color: #d62828;
}

.taxiBtn-col {
  background-color: #ffee93;
}

.taxiInfo-col {
  background-color: #ffc300;
  padding: 10% 5%;
}

.taxiImage {
  margin: 20% 22%;
}

.btn-outline-warning {
  margin: 40% 35%;
  background-color: #FFFFFF;
}
